<%= link_to(job) do %>
  <div class = "job-prev bg-amber-100 py-4 px-8 mt-2">
    <p class="font-normal"><%=job.company.name%></p>
    <div class="flex justify-between py-1">
      <p class="font-bold"><%=job.title%></p>
      <div class="flex">
        <p><%= job.created_at.strftime("%Y-%m-%d")%></p>
        <p class="ml-4"><%= t("jobs.index.preview.featured") %></p>
      </div>
    </div>
    <p><%= t("jobs.index.preview.location") %></p>
  </div>
<%end%>