
<div class = "job-prev group bg-white drop-shadow hover:drop-shadow-md rounded py-2 sm:py-4 px-2 sm:px-8 sm:mb-6 mb-6 whitespace-nowrap text-sm md:text-base">
  <%if job.company.logo.present?%>
  <div class="w-14 h-14 rounded-full absolute -left-10 border-2 top-5 overflow-hidden hidden sm:block">
    <%= image_tag job.company.logo.url, class: "object-contain" %>
  </div>
  <%end%>
  <p class="font-normal"><%=job.company.name%></p>
  <div class="flex justify-between py-1">
    <p class="font-bold group-hover:underline decoration-red-500 decoration-2 mr-2 underline-offset-2 truncate"><%=job.title%></p>
    <div class="flex items-center">
      <p class="mr-4"><%= format_date(job)%></p>
      <%if new_job?(job)%>
      <p class="<%= job_status(job)[:classes] %> py-1/2 px-1 mr-2 rounded font-semibold"><%= job_status(job)[:status]%></p>
      <%end%>
    </div>
  </div>
  <p><%= job.location.name %></p>
  <div class="flex">
  <%= link_to('Edit Job', edit_dashboard_job_path(job), class: "bg-sky-400 font-bold py-2 px-4 rounded" ) %>
  <%if job_not_published?(job)%>
    <%= button_to('Pay and publish Job', checkout_create_path, params: {id: job.id}, remote: true, class: "bg-green-400 font-bold py-2 mx-4 px-4 rounded",
        data: { confirm: 'Do you want to publish this job?', disable_with: 'loading...' }) %>
  <%else%>
        <%= button_to('Close Job', "/dashboard/jobs/#{job.id}/close", class: "bg-red-400 font-bold py-2 mx-4 px-4 rounded",
        data: { confirm: 'Do you want to publish this job?', disable_with: 'loading...' }) %>
  <%end%>
  </div>
</div>