<div data-controller="nav">
  <div class="nav-container flex justify-between items-center shadow  px-4 md:px-8 py-6 sticky top-0 bg-white" data-nav-target="navContainer">
    <div class="logo font-bold text-2xl md:text-3xl">
      <%= link_to t("navigation.anity_logo"), root_path %>
    </div>
    <div class="links hidden md:block ">
    <div>
      <% if current_user%>
        <%= button_to t('layouts.application.sign_out'), sign_out_path, method: :delete, class: "inline" %>
      <%else%>
        <%= link_to t('layouts.application.sign_in'), sign_in_path %>
      <%end%>
    </div>
      <%= link_to t("navigation.all_jobs"), root_path %>
      <a href="https://twitter.com/AnityDevelopers" class="md:ml-2"><%= t("navigation.community") %></a>
      <a href="mailto:anitydevs@gmail.com" class="md:ml-2 bg-red-500 rounded text-white p-1 md:p-3 font-semibold"><%= t("navigation.get_in_touch") %></a>
      <%= link_to jobs_url(format: 'rss') do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
        </svg>
      <%end%>
    </div>
    <div class="nav-toggler block md:hidden" data-target="toggler" data-action="click->nav#toggleMenu">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </div>
  </div>

  <div class="mobile-nav-container hidden shadow px-4 md:px-8 py-6" data-nav-target="mobileNavContainer">
    <div class="links flex flex-col justify-center">
      <%= link_to t("navigation.all_jobs"), root_path, class: "mb-2" %>
      <a href="https://twitter.com/AnityDevelopers" class="mb-2"><%= t("navigation.community") %></a>
      <a href="mailto:anitydevs@gmail.com" class="text-red-500 underline mb-2 font-semibold"><%= t("navigation.get_in_touch") %></a>
      <%= link_to jobs_url(format: 'rss') do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
        </svg>
      <%end%>
    </div>
  </div>
</div>