<!DOCTYPE html>
<html>
  <head>
    <title>AnityJobs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="The job posting for africa Anityjob posting.">
    <link rel="icon" href="%PUBLIC_URL%/assets/images/Anity_logo.ico" />
    <%= favicon_link_tag asset_path('Anity_logo.ico') %> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render partial: '/layouts/nav' %>
  <%= render "flashes" -%>
    <main class="container mx-auto mt-10">
      <%= yield %>
    </main>
  </body>
</html>
